<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LibraryBoardMapper">
	<resultMap id="libraryBoardSelectMap" type="LibraryBoardVo">
		<result property="id"		column="id"			jdbcType="NUMERIC"/>
		<result property="regDate" 	column="reg_date" 	jdbcType="VARCHAR"/>
		<result property="category"	column="category" 	jdbcType="VARCHAR" />
		<result property="title" 	column="title" 		jdbcType="VARCHAR" />
		<result property="contents" column="contents" 	jdbcType="VARCHAR" />
		<result property="note" 	column="note" 		jdbcType="VARCHAR" />
		<result property="file" 	column="file" 		jdbcType="VARCHAR" />
		<result property="userId" 	column="user_id" 	jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="insertLibraryBoard"		parameterType="LibraryBoardVo" >
	 	INSERT INTO library_board (id , reg_date, category , title , contents, note, file, user_id) VALUES (0,SYSDATE(),#{category},#{title},#{contents},#{note},#{file},#{userId})
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getLibraryBoard"	parameterType="int"	resultMap="libraryBoardSelectMap">
		SELECT id,reg_date,category,title,contents,note,file,user_id		
		FROM library_board
		WHERE id = #{value}
	 </select>
	 
	 <!-- SQL : UPDATE -->
	 <update	id="updateLibraryBoard"	parameterType="LibraryBoardVo" >
	   	UPDATE library_board
	   	<set>
			category	= #{category},
			title 		= #{title} ,
			contents	= #{contents},
			note 		= #{note},
			file 		= #{file}
	   	</set>
	   	WHERE id = #{id}
	 </update>
	 
	 <!-- SQL : DELETE -->
	 <delete	id="deleteLibraryBoard"	parameterType="int" >
	   	delete from library_board WHERE id = #{value}
	 </delete>
		 
	<!-- SQL : SELECT LIST -->

	<select  id="getLibraryBoardList" parameterType="LibraryBoardVo" resultMap="libraryBoardSelectMap">
	  	SELECT id,reg_date,category,title,contents,note,file,user_id
	  	FROM library_board
	 </select>
	
	  
	   <!-- SQL : SELECT LIST -->
	   <!-- 
	<select  id="getLibraryBoardList" parameterType="search" resultMap="libraryBoardSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , @ROWNUM:=@ROWNUM+1 AS row_seq
	  					FROM	(select @ROWNUM:=0)a,	(	SELECT *
											FROM library_board
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				reg_date like CONCAT('%', #{searchKeyword}, '%')
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				user_id like CONCAT('%', #{searchKeyword}, '%')
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				category like CONCAT('%', #{searchKeyword}, '%')
													</if>
													<if test="searchCondition == 3 and searchKeyword !='' ">
										 				title like CONCAT('%', #{searchKeyword}, '%')
													</if>
													<if test="searchCondition == 4 and searchKeyword !='' ">
										 				contents like CONCAT('%', #{searchKeyword}, '%')
													</if>
													<if test="searchCondition == 5 and searchKeyword !='' ">
										 				note like CONCAT('%', #{searchKeyword}, '%')
													</if>
												</where>
											</if>
											ORDER BY id ) inner_table
						WHERE @ROWNUM &lt; 3 ) outer_table
		WHERE row_seq BETWEEN 1 AND 3
	 </select>
	  
	   -->
	  <!-- SQL : SELECT LIST -->
	  <!-- 
	<select  id="getLibraryBoardList" parameterType="search" resultMap="libraryBoardSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT *
											FROM library_board
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				reg_date like CONCAT('%', #{searchKeyword}, '%')
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				user_id like CONCAT('%', #{searchKeyword}, '%')
													</if>
													<if test="searchCondition == 2 and searchKeyword !='' ">
										 				category like CONCAT('%', #{searchKeyword}, '%')
													</if>
													<if test="searchCondition == 3 and searchKeyword !='' ">
										 				title like CONCAT('%', #{searchKeyword}, '%')
													</if>
													<if test="searchCondition == 4 and searchKeyword !='' ">
										 				contents like CONCAT('%', #{searchKeyword}, '%')
													</if>
													<if test="searchCondition == 5 and searchKeyword !='' ">
										 				note like CONCAT('%', #{searchKeyword}, '%')
													</if>
												</where>
											</if>
											ORDER BY id ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	 </select>
	  -->
	 <!-- SQL : SELECT ROW Count 	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT *
						FROM library_board
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
									reg_date like CONCAT('%', #{searchKeyword}, '%')
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
									category like CONCAT('%', #{searchKeyword}, '%')
								</if>
								<if test="searchCondition == 2 and searchKeyword !='' ">
									title like CONCAT('%', #{searchKeyword}, '%')
								</if>
								<if test="searchCondition == 3 and searchKeyword !='' ">
									contents like CONCAT('%', #{searchKeyword}, '%')
								</if>
								<if test="searchCondition == 4 and searchKeyword !='' ">
									note like CONCAT('%', #{searchKeyword}, '%')
								</if>
								<if test="searchCondition == 5 and searchKeyword !='' ">
									user_id like CONCAT('%', #{searchKeyword}, '%')
								</if>
							</where>
						</if> ) countTable			
	 </select>
	 -->

</mapper>