<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="ManagementMapper">
	

 	<resultMap id="ManagementSelectMap" type="ManagementVo">
		
		<result property="id" column="id" jdbcType="NUMERIC"/>
		<result property="category" column="category" jdbcType="VARCHAR"/>
		<result property="date" column="date" jdbcType="VARCHAR"/>
		<result property="equipment" column="equipment" jdbcType="VARCHAR"/>
		<result property="title" column="title" jdbcType="VARCHAR"/>
		<result property="contents" column="contents" jdbcType="VARCHAR"/>
		<result property="note" column="note" jdbcType="VARCHAR"/>
		<result property="period_type" column="period_type" jdbcType="VARCHAR"/>
		<result property="company" column="company" jdbcType="VARCHAR"/>
		<result property="user_id" column="user_id" jdbcType="VARCHAR"/>
	
		
	</resultMap>
	
	<insert 	id="work_insert"		parameterType="ManagementVo" >
		<![CDATA[
			insert
			  into management(id,date,equipment,title,contents,note,user_id,category)
			values ( #{id},#{date},#{equipment}, #{title}, #{contents}, #{note}, #{user_id},#{category})
	
		]]>  
	</insert>
	
	<select 	id="list"	parameterType="String"	resultMap="ManagementSelectMap">
		<![CDATA[
			select *
			 from management
			 where category = #{category}
		]]> 
	 </select>
	 
	 <select 	id="getOne"	parameterType="String"	resultMap="ManagementSelectMap">
		<![CDATA[
			select *
			 from management
			 where id = #{id}
		]]> 
	 </select>
	 
	 <delete id="delete" parameterType="Int">
	 	<![CDATA[
			 delete 
			 from management
			 where id = #{id}
		]]> 	 
	 </delete>
	 
	 <update id="work_update" parameterType="ManagementVo">
	 	<![CDATA[
			 update management
			 set date = #{date}, equipment = #{equipment}, title = #{title}, contents = #{contents}, note = #{note}
			 where id = #{id}
		]]> 
	 </update>

</mapper>